/node_modules
/public/hot
/public/storage
/storage
/vendor
/public/mix-manifest.json
/public/uploads
/public/js
/public/css
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
