@media print {
  @page {
    size: A4; /* DIN A4 standard, Europe */
    margin: 20mm 0 20mm 10mm;
  }
  .page-wrapper {
    margin-left: 0;
    padding-bottom: 0;
    background: white !important;
  }
  #song {
    color: #000 !important;
  }
}
